{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@server": "./server",
          "@components": "./components",
          "@containers": "./containers",
          "@helpers": "./helpers",
          "@images": "./assets/img",
          "@redux": "./redux",
          "@assets": "./assets",
          "@constants": "./constants",
          "@translations": "./translations",
          "@services": "./services",
          "@hooks": "./hooks",
        },
        "cwd": "babelrc"
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ],
    ["@babel/plugin-proposal-optional-chaining"],
    ["@emotion"]
  ],
  "presets": ["next/babel"],
  "ignore": []
}
